#pet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
  
#background {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 12px;
    position: relative;
}
  
#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Arial, sans-serif;
    z-index: 10;
}
  
.row { margin: 3px 0; }
  
#message {
    margin-top: 8px;
    min-height: 18px;
}
  
#pet-text {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    z-index: 8;
    color: black;
}
  
#controls {
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
  
button {
    padding: 8px 12px;
    border: 2px solid black;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}
  
#pet-shape {
    width: 180px;
    height: 180px;
    background-color: #ffd966;
    border: 4px solid black;
    border-radius: 20px;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
  
.eyes {
    display: flex;
    justify-content: space-between;
    width: 80px;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
}
  
.eyes span {
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 50%;
}
  
.mouth {
    width: 55px;
    height: 20px;
    border-bottom: 4px solid black;
    border-radius: 0 0 60px 60px;
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
}
  
/* MOODS */
.happy #background { background-color: #aef1ff; }
  
.sad #background { background-color: #b0c4de; }
.sad .mouth { border-bottom: none; border-top: 4px solid black; border-radius: 60px 60px 0 0; top: 125px; }
  
.bored #background { background-color: #e6e6e6; }
.bored .mouth { width: 60px; height: 0; border-radius: 0; border-bottom: 3px solid black; }
  
.anxious #background { background-color: #ffcccc; }
.anxious #pet-shape { background-color: #ffb3b3; }
.anxious .mouth { width: 30px; height: 30px; border: 4px solid black; border-radius: 6px; top: 112px; }
  
.hungry #background { background-color: #ffe5b4; }
.hungry .mouth { width: 35px; height: 35px; border: 4px solid black; border-radius: 50%; top: 108px; }
  
.sleepy #background { background-color: #d6d6f5; }
.sleepy .eyes span { height: 4px; border-radius: 0; }
  .sleepy .mouth { display: none; }
  
.tired #background { background-color: #cccccc; }
.tired #pet-shape { background-color: #d9d9d9; }
.tired .eyes span { opacity: 0.5; }
  
.sick #background { background-color: #cdeccf; }
.sick #pet-shape { background-color: #c6e2b3; }
.sick .mouth { border-bottom: none; border-top: 4px solid black; border-radius: 60px 60px 0 0; top: 125px; }
  
  